@import '../variables.scss';
.table-page{
    @include adminBlock;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px;
    &__sort{
        display: flex;
        justify-content: center;
        align-items: center;
        .table-select{
            font-family: "Helvetica";
            min-width: 320px;
            height: 29px;
            border-radius: 3px;
            outline: none;
            border: solid 1px #E1E5EB;
            font-size: 14px;
            line-height: 13px;
            color: #121212;
            padding-left: 11px;
        }
    }
}